.live-event{
    position: relative;
    padding: 0 0 64px;
}

.live-event .heading{
    padding-top: 26px;
}

.live-event .card {
    background: grey; 
    color: #fff;
    height: 222px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.live-event .card-arrow-left, .live-event .card-arrow-right {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


@media (max-width: 768px) {
    .live-event .card {
        height: 300px;
    }

    .live-event .card-body p,
    .live-event .card-content p {
        font-size: 14px;
    }

    .live-event .card-arrow-left,
    .live-event .card-arrow-right {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 480px) {
    .live-event .card {
        height: 100px;
        width: auto;
    }

    .live-event .card-body p,
    .live-event .card-content p {
        font-size: 12px;
    }

    .live-event .card-content h3 {
        font-size: 16px;
    }

    .live-event .card-arrow-left,
    .live-event .card-arrow-right {
        width: 30px;
        height: 30px;
    }
}
