* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: #fff;
    position: relative;
    font-family: Roboto, sans-serif;
}

.navbar {
    height: 65px;
    position: relative;
    background: #333545;
    z-index: 9;
    display: flex;
    align-items: center;
}

.brand-logo {
    height: 42px;
    margin-left: 132px;
    padding-right: 8px;
}

.input {
    height: 36px;
    width: 40%;
    position: relative;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    display: flex;
}

.input input {
    width: 94%;
    height: 30px;
    border-color: transparent;
    outline-color: transparent;
    font-size: 13px;
    color: #3b3a3a;
    opacity: 90%;
    font-family: 'Open Sans', sans-serif;
}

.input .search-icon {
    color: #808080;
    font-weight: bold;
    margin-left: 10px;
}

.right-container {
    display: flex;
    margin-left: auto;
    margin-right: 132px;
}

.location {
    position: relative;
    text-decoration: none;
    color: #c7cacb;
    font-size: 14px;
    padding-top: 8px;
}

.location:hover {
    color: white;
    text-decoration: none;
}

.location-down {
    font-size: 14px;
    padding-left: 5px;
    margin-right: 20px;
    color: white;
    margin-top: 8px;
}

.signin {
    position: relative;
    width: 68px;
    height: 25px;
    margin-right: 22px;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    background-color: #f74464;
    border: #f74464;
    top: 4px;
}

.open-menu {
    position: relative;
    margin-right: 10px;
    top: 2px;
}

.menu {
    color: #f6f2e5;
    font-size: 28px;
}
